body {
  font-family: "Poppins", sans-serif;
  background-color: #0d0d0d;
}

.navbar img {
  width: 7rem;
  mix-blend-mode: difference;
}

#trending {
  padding-top: 6rem;
  padding-bottom: 8rem;
  background-image: url("../img/mwam.png");
  background-size: cover;
}

#genre p {
  cursor: pointer;
}

#wishlist small {
  font-size: 0.8vw;
}

#wishlist strong {
  font-size: 1.2vw;
}

.navbar .navbar-nav a:hover {
  color: white;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
  transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

/*Music Play*/

.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: rgb(0, 0, 40);
  background: radial-gradient(
    circle,
    rgba(0, 0, 40, 1) 0%,
    rgba(2, 2, 50, 1) 50%,
    rgba(5, 3, 37, 1) 80%,
    rgba(7, 15, 51, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}
nav .circle i {
  color: #111111;
}
.song-img {
  width: 220px;
  border-radius: 10%;
  border: 1px solid black;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}
.music-player h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
}
.music-player p {
  font-size: 14px;
  color: #fff;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin: 30px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 40px;
  height: 40px;
  margin: 14px;
  background: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 10px 20px #111111;
}
.controls div i {
  color: #fff;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: black;
  color: #fff;
}

.splide__arrows--ttb .splide__arrow--prev {
  top: -2em;
}

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}
